--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
-- Dumped by pg_dump version 17.4 (Debian 17.4-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: server_protocol_enum; Type: TYPE; Schema: public; Owner: root
--

CREATE TYPE public.server_protocol_enum AS ENUM (
    'HTTP',
    'HTTPS',
    'FTP',
    'SSH'
);


ALTER TYPE public.server_protocol_enum OWNER TO root;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: request_entity; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.request_entity (
    id integer NOT NULL,
    "statusCode" integer NOT NULL,
    latency integer NOT NULL,
    success boolean NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "serverId" integer
);


ALTER TABLE public.request_entity OWNER TO root;

--
-- Name: request_entity_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.request_entity_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.request_entity_id_seq OWNER TO root;

--
-- Name: request_entity_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.request_entity_id_seq OWNED BY public.request_entity.id;


--
-- Name: server; Type: TABLE; Schema: public; Owner: root
--

CREATE TABLE public.server (
    id integer NOT NULL,
    name character varying NOT NULL,
    url character varying NOT NULL,
    protocol character varying NOT NULL,
    "isHealthy" boolean DEFAULT false NOT NULL
);


ALTER TABLE public.server OWNER TO root;

--
-- Name: server_id_seq; Type: SEQUENCE; Schema: public; Owner: root
--

CREATE SEQUENCE public.server_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.server_id_seq OWNER TO root;

--
-- Name: server_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: root
--

ALTER SEQUENCE public.server_id_seq OWNED BY public.server.id;


--
-- Name: request_entity id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.request_entity ALTER COLUMN id SET DEFAULT nextval('public.request_entity_id_seq'::regclass);


--
-- Name: server id; Type: DEFAULT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.server ALTER COLUMN id SET DEFAULT nextval('public.server_id_seq'::regclass);


--
-- Data for Name: request_entity; Type: TABLE DATA; Schema: public; Owner: root
--



--
-- Data for Name: server; Type: TABLE DATA; Schema: public; Owner: root
--

COPY public.server (id, name, url, protocol, "isHealthy") FROM stdin;
2	Gogle	https://gogle.com	https	f
4	Exam	http://exam.com	http	f
6	FTP DLTest	ftp://dltest.com	ftp	f
5	FTP DLPTest	ftp://dlptest.com	ftp	f
7	FTP DLTest	ftp://dltest.com	ftp	f
8	SSH Rebex Demo	test.rebex.net	ssh	f
9	SSH Rebex Demo	test.rebex	ssh	f
1	Google	https://google.com	https	t
3	Example	http://example.com	http	t
\.


--
-- Name: request_entity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.request_entity_id_seq', 248, true);


--
-- Name: server_id_seq; Type: SEQUENCE SET; Schema: public; Owner: root
--

SELECT pg_catalog.setval('public.server_id_seq', 10, true);


--
-- Name: request_entity PK_414c4dc3ebedd19498f49a802e2; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.request_entity
    ADD CONSTRAINT "PK_414c4dc3ebedd19498f49a802e2" PRIMARY KEY (id);


--
-- Name: server PK_f8b8af38bdc23b447c0a57c7937; Type: CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.server
    ADD CONSTRAINT "PK_f8b8af38bdc23b447c0a57c7937" PRIMARY KEY (id);


--
-- Name: request_entity FK_502ee02bf3093bf002149109150; Type: FK CONSTRAINT; Schema: public; Owner: root
--

ALTER TABLE ONLY public.request_entity
    ADD CONSTRAINT "FK_502ee02bf3093bf002149109150" FOREIGN KEY ("serverId") REFERENCES public.server(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

